body {
	background-color: rgb(13 27 42);
	color: rgb(224 225 221);
}

nav {
	background-color: rgb(119 141 169);
	color: rgb(224 225 221);
	box-shadow: 0 0 10px rgb(62, 74, 88);
}

.btn {
	transition: opacity 0.1s ease-in-out;
}

.btn:hover {
	opacity: 0.5;
}

.pg-container-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	
	height: 100vh;
}

.pg-container-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.container-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	padding: 3vh 3vw;
	width: 100%;
}

.box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgb(27 38 59);
	border-radius: 2vw;
	box-shadow: 0 0 5px rgb(27 38 59);
	height: auto;
	padding: 2vh 2vw;
	gap: 3vh;
}

.search-btn {
	background-color: rgb(73, 103, 159);
	color: rgb(224 225 221);
	box-shadow: 0 0 10px rgb(62, 74, 88);
	padding: 1vh 1vw;
	margin: 0 1vw;
	border-radius: 1.5vw;
	border-width: 0;

	transition: opacity 0.2s ease-in-out;
}

.search-btn:hover {
	opacity: 0.5;
}

.courses {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.course {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(224, 225, 221, 0.75);
	color: rgb(13 27 42);
	padding: 1vh 1vw;
	border-radius: 1vw;
	min-width: 10vw;
	text-align: center;
	box-shadow: 0 0 10px rgb(62, 74, 88);

	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.course:hover {
	opacity: 0.75;
}

.course .title {
	font-size: 0;
	font-style: italic;
	transition: font-size 0.5s ease-in-out;
}

.course:hover .title {
	font-size: 1rem;
}

tr, td {
	width: 90vw;
}

.result-course .result-desc {
	font-size: 0;
	font-style: italic;
	transition: font-size 0.5s ease-in-out;
}

.result-course:hover .result-desc {
	font-size: 0.75rem;
}

a:hover {
	text-decoration: none;
	color: white;
}

h1 {
	font-weight: 700;
	margin: -2vh 0;
}

td, th {
	border-color: rgb(13 27 42);
	border-style: solid;
	border-width: 1px;
	padding: 2vh 2vw;
}

td {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

td:hover {
	opacity: 0.75;
}

tr {
	background-color: rgba(224, 225, 221, 0.75);
	color: rgb(13 27 42);
	padding: 1vh 1vw;
	border-radius: 1vw;
	min-width: 10vw;
	text-align: center;
	/* box-shadow: 0 0 30px rgb(13 27 42); */
	font-size: 1.1rem;
}

h1, h2, h3, h4 {
	text-align: center;
}

h2, h3 {
	font-weight: 400;
}

footer {
	background-color: rgb(46, 64, 99);
	color: rgba(224 225 221, 0.5);
	box-shadow: 0 -5px 10px rgb(62, 74, 88);
	width: 100%;

	padding: 0.5vw;
	position: fixed;
	bottom: 0;
}

.error {
	background-color: rgba(224, 225, 221);
	color: rgb(13 27 42);
	border-color: rgb(46, 64, 99);
	border-width: 2px;
	border-style: solid;
	border-radius: 5vw;
	box-shadow: 0 0 10px rgb(46, 64, 99);

	padding: 5vh 5vw;
	text-align: center;
	font-weight: 700;
	width: 75%;

	position: fixed;
	top: 15vh;
	z-index: 999;

	opacity: 0;
	animation-name: fade-error;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

@keyframes fade-error {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.9;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-50vh);
	}
}

#about {
	background-color: rgba(224, 225, 221);
	color: rgb(13 27 42);
	border-color: rgb(46, 64, 99);
	border-width: 2px;
	border-style: solid;
	border-radius: 5vw;
	box-shadow: 0 0 10px rgb(46, 64, 99);

	padding: 5vh 5vw;
	text-align: center;
	font-weight: 700;
	width: 90%;

	position: fixed;
	top: 15vh;
	z-index: 999;

	display: none;

	overflow-y: auto;
}

#blackout {
	z-index: 998;
	background-color: rgba(0, 0, 0, 0.705);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;

	display: none;
}

#mobile-dropdown {
	display: none;
}

#mobile-nav {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: -180vh;
	right: 20vw;

	background-color: rgb(46, 64, 99);
	padding: 1vw;
	border-color: rgb(0, 0, 0);
	border-width: 0.5vw;
	border-style: solid;

	opacity: 0;
	transition: opacity 0.4s ease-in-out, top 0.4s ease-in-out;

	z-index: 1001;

	padding-top: 100vh;
}

#mobile-nav.showing {
	top: -99vh;
	opacity: 1;
}

.flex-row {
	display: flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center;
}

@media (max-width: 1024px) {
	#desktop-nav {
		display: none;
	}

	#mobile-nav, #mobile-dropdown {
		display: flex;
	}

	.flex-row {
		display: flex; 
		flex-direction: column !important; 
		justify-content: center; 
		align-items: center;
	}

	#about {
		font-size: 0.75rem;
	}

	#about h1 {
		font-size: 1rem;
	}
}