<!DOCTYPE html>
<html lang="en">
<div class="container">
    <head>    
        <title>ZotPlanner</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rev="Made" href="mailto:jzulfika@ics.uci.edu">
        <meta name="person" content="Julian Zulfikar">
        <meta name="sortname" content="Julian Zulfikar">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
        {% block head %}{% endblock %}
    </head>
    
    <body>
        {% block body %}{% endblock %}
    </body>
</div>
</html>