<!DOCTYPE html>
<html lang="en">

<head>
    <title>AntCheck</title>        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item navbar-brand">
                <a class="navbar-brand" href="/" style="font-weight: 700; color: rgb(224 225 221);">
                    <img alt="AntCheck" src="../static/images/antchecklogo.png" style="height: 5vh;">
                </a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right" id="desktop-nav">
            <li class="nav-item">
                <a class="btn" style="color: rgb(224 225 221);" href="/">Home</a> |
                <button id="showAbout" class="btn" style="color: rgb(224 225 221);">About</button> |
                <a class="btn" style="color: rgb(224 225 221);" target="_blank" href="https://github.com/julian-z/AntCheck">GitHub</a>
            </li>
        </ul>

        <button style="background-color: rgba(0, 0, 0, 0); border-style: none;" id="mobile-dropdown">
            <img alt="Menu" src="../static/images/dropdown.png" style="width: 10vw;">
        </button>
        <div id="mobile-nav">
            <a class="btn" style="color: rgb(224 225 221);" href="/">Home</a>
            <button id="showAbout2" class="btn" style="color: rgb(224 225 221);">About</button>
            <a class="btn" style="color: rgb(224 225 221);" target="_blank" href="https://github.com/julian-z/AntCheck">GitHub</a>
        </div>
    </nav>

    <div class="pg-container-col">

        <div id="blackout"></div>
        <div id="about">
            <h1 style="margin: 1vh;">AntCheck 🐜</h1>
            <p>
                Courses and prerequisites can be very overwhelming for students, which is why the goal of this project is to provide an improved user experience when it comes to browsing the catalogue and selecting the correct order in which they should enroll in their classes!
            </p><p>
                AntCheck takes a given set of UCI classes that you intend to take -- could be in the current schoolyear or throughout your entire career.
            </p><p>
                The user is then given an ordering of classes that they are able to take such that no prerequisites requirements are violated.
            </p><p>
                The program also warns the user if they did not include a required prerequisite in their input. For example, if a student is looking to take CS 161 and they input {ICS 46, ICS 6D, CS 161}, the program would warn them of 161's ICS 6B & Math 2B requirement. You'll never miss a prerequisite again!
            </p>
            <!-- <p>
                The search engine also provides a swift and easy way for students to browse through UCI's catalogue of over 5900 classes. The results are ranked in order of relevancy by TF-IDF score.
            </p> -->
            <button class="search-btn" id="closeAbout">Try It Out!</button>
        </div>

        {% if errormsg != "" %}
        <div class="error">
            <h1 style="margin-bottom: 1vh;">Error</h1>
            <h2>{{ errormsg }}</h2>
        </div>
        {% endif %}

        <div class="col-12">
            <form action="/" method="POST" autocomplete="off">
                <select class="dropdown search-btn" style="background-color: rgb(58, 68, 81);" data-trigger="" name="drop" id="drop">
                    <option placeholder="">Department</option>
                    <option>AC ENG</option>
                    <option>AFAM</option>
                    <option>ANTHRO</option>
                    <option>ARABIC</option>
                    <option>ARMN</option>
                    <option>ART</option>
                    <option>ART HIS</option>
                    <option>ART STU</option>
                    <option>ARTS</option>
                    <option>ARTSHUM</option>
                    <option>ASIANAM</option>
                    <option>BANA</option>
                    <option>BIO SCI</option>
                    <option>BME</option>
                    <option>BSEMD</option>
                    <option>CBE</option>
                    <option>CBEMS</option>
                    <option>CHC/LAT</option>
                    <option>CHEM</option>
                    <option>CHINESE</option>
                    <option>CLASSIC</option>
                    <option>CLT&THY</option>
                    <option>COGS</option>
                    <option>COM LIT</option>
                    <option>COMPSCI</option>
                    <option>CRITISM</option>
                    <option>CRM/LAW</option>
                    <option>CSE</option>
                    <option>DANCE</option>
                    <option>DATA</option>
                    <option>DEV BIO</option>
                    <option>DRAMA</option>
                    <option>E ASIAN</option>
                    <option>EARTHSS</option>
                    <option>EAS</option>
                    <option>ECO EVO</option>
                    <option>ECON</option>
                    <option>ECPS</option>
                    <option>EDUC</option>
                    <option>EECS</option>
                    <option>EHS</option>
                    <option>ENGLISH</option>
                    <option>ENGR</option>
                    <option>ENGRCEE</option>
                    <option>ENGRMAE</option>
                    <option>ENGRMSE</option>
                    <option>ENVIRON</option>
                    <option>EPIDEM</option>
                    <option>EURO ST</option>
                    <option>FILMSTD</option>
                    <option>FIN</option>
                    <option>FLM&MDA</option>
                    <option>FRENCH</option>
                    <option>GDIM</option>
                    <option>GEN&SEX</option>
                    <option>GERMAN</option>
                    <option>GLBLCLT</option>
                    <option>GREEK</option>
                    <option>HEBREW</option>
                    <option>HINDI</option>
                    <option>HISTORY</option>
                    <option>HUMAN</option>
                    <option>HUMARTS</option>
                    <option>I&C SCI</option>
                    <option>IN4MATX</option>
                    <option>INNO</option>
                    <option>INTL ST</option>
                    <option>ITALIAN</option>
                    <option>JAPANSE</option>
                    <option>KOREAN</option>
                    <option>LATIN</option>
                    <option>LAW</option>
                    <option>LINGUIS</option>
                    <option>LIT JRN</option>
                    <option>LPS</option>
                    <option>LSCI</option>
                    <option>MATH</option>
                    <option>MED HUM</option>
                    <option>MGMT</option>
                    <option>MGMT EP</option>
                    <option>MGMT FE</option>
                    <option>MGMTMBA</option>
                    <option>MOL BIO</option>
                    <option>MPAC</option>
                    <option>MSE</option>
                    <option>MUSIC</option>
                    <option>NET SYS</option>
                    <option>NEURBIO</option>
                    <option>NUR SCI</option>
                    <option>PATH</option>
                    <option>PERSIAN</option>
                    <option>PHILOS</option>
                    <option>PHMD</option>
                    <option>PHRMSCI</option>
                    <option>PHY SCI</option>
                    <option>PHYSICS</option>
                    <option>PHYSIO</option>
                    <option>POL SCI</option>
                    <option>PORTUG</option>
                    <option>PP&D</option>
                    <option>PSCI</option>
                    <option>PSY BEH</option>
                    <option>PSYCH</option>
                    <option>PUBHLTH</option>
                    <option>REL STD</option>
                    <option>ROTC</option>
                    <option>RUSSIAN</option>
                    <option>SOC SCI</option>
                    <option>SOCECOL</option>
                    <option>SOCIOL</option>
                    <option>SPANISH</option>
                    <option>SPPS</option>
                    <option>STATS</option>
                    <option>TOX</option>
                    <option>UCDC</option>
                    <option>UNI STU</option>
                    <option>UPPP</option>
                    <option>VIETMSE</option>
                    <option>WOMN ST</option>
                    <option>WRITING</option>
                </select>
                
                <input id="course_num" name="course_num" type="text" placeholder="Course Number" class="searchbar__input search-btn" style="background-color: rgb(58, 68, 81);"/>
                
                <form action="/" method="POST">
                    <button class="addButton search-btn" type="submit"><strong>Add</strong></button>
                </form>
            </form>

            <div class="box">
                {% if courses|length > 0 %}
                    <h1>Added Classes 🐜</h1>
        
                    <div class="courses">
                        {% for course in courses %}
                        <span class="course">
                            <strong>{{ courses[loop.index0] }}</strong>
                            <span class="title">{{ titles[loop.index0] }}</span>
                        </span>
                        {% endfor %}
                    </div>

                    <div>
                        <a href="/generate" class="search-btn">
                            <strong>Generate Order</strong>
                        </a>
                        <a href="/clear" class="search-btn">
                            <strong>Clear Courses</strong>
                        </a>
                    </div>
                {% else %}
                    <h1 style="margin: 1vh 0;">No Classes Added Yet 🐜</h1>
                    <div class="flex-row">
                        <div>
                            <h2 style="text-align: center; margin-bottom: 3vh;">
                                Use the search bar to find classes that you are planning to take!
                                Add them to this section using the tools above.
                            </h2>
                            <h3 style="text-align: center;">
                                From there, you will be prompted to generate the correct order to take
                                these courses without violating prerequisites. Any prerequisites not
                                added will also be warned.
                            </h3>
                        </div>
                        <img src="../static/images/grad-eater.png" style="height: 30vh;">
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-12" style="margin-bottom: 10vh;">
            <form action="/" method="POST" autocomplete="off">                    
                <input id="search_courses" name="search_courses" type="text" placeholder="Search by title or description..." class="searchbar__input2 search-btn" style="background-color: rgb(58, 68, 81); width: 100%;" />

                <form action="/" method="POST">
                    <button class="search-btn" type="submit"><strong>Search</strong></button>
                </form>
            </form>

            <div class="box">
                {% if search_results|length > 0 %}
                <h1 style="margin: 1vh 0;">Search Results 📖</h1>
                <table>
                    <tr>
                        <th>Course</th>
                        <!-- <th>Description</th>
                        <th>Prerequisites</th> -->
                    </tr>
                    {% for course in search_results %}
                    <tr>
                        <td class="result-course">
                            <strong>{{ course[0] }}</strong> - <em>{{ course[1] }}</em>

                            <div class="result-desc">
                                {{ course[2] }}
                            </div>
                        </td>
                        <!-- <td>{{ course[2] }}</td>
                        {% if course[3]|length > 0 %}
                            <td>{{ course[3] }}</td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %} -->
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h1 style="margin: 1vh 0;">Search the Catalogue 📖</h1>
                <div class="flex-row">
                    <img src="../static/images/cheering-anteaters.png" style="height: 30vh;">
                    <div>
                        <h2 style="margin-bottom: 3vh;">Use the search bar above to browse UCI's course catalogue!</h2>
                        <h3>Search by the title, description, department, etc.</h3>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Mobile Dropdown -->
    <script>
        let showingDropdown = false;
        const mobileDropdownButton = document.getElementById('mobile-dropdown');
        const mobileDropdownContent = document.getElementById('mobile-nav');

        mobileDropdownButton.addEventListener('click', () => {
            showingDropdown = !showingDropdown

            if (showingDropdown) {
                mobileDropdownButton.innerHTML = '<img alt="Menu" src="../static/images/close-dropdown.png" style="width: 10vw;">';
                mobileDropdownContent.classList.add('showing');
            }
            else {
                mobileDropdownButton.innerHTML = '<img alt="Menu" src="../static/images/dropdown.png" style="width: 10vw;">';
                mobileDropdownContent.classList.remove('showing');
            }
        })
    </script>

    <!-- About Section Toggle (Desktop) -->
    <script>
        let showingAbout = false;
        const aboutButton = document.getElementById('showAbout');
        const closeAbout = document.getElementById('closeAbout');
        const blackout = document.getElementById('blackout');
        const aboutSection = document.getElementById('about');

        aboutButton.addEventListener('click', () => {
            if (!showingAbout) {
                blackout.style.display = 'block';
                aboutSection.style.display = 'block';
            }
            else {
                blackout.style.display = 'none';
                aboutSection.style.display = 'none';
            }
            showingAbout = !showingAbout;
        });

        blackout.addEventListener('click', () => {
            blackout.style.display = 'none';
            aboutSection.style.display = 'none';
            showingAbout = false;
        });

        closeAbout.addEventListener('click', () => {
            blackout.style.display = 'none';
            aboutSection.style.display = 'none';
            showingAbout = false;
        });
    </script>

    <!-- About Section Toggle (Mobile) -->
    <script>
        const aboutButton2 = document.getElementById('showAbout2');
        aboutButton2.addEventListener('click', () => {
            if (!showingAbout) {
                blackout.style.display = 'block';
                aboutSection.style.display = 'block';
            }
            else {
                blackout.style.display = 'none';
                aboutSection.style.display = 'none';
            }
            showingAbout = !showingAbout;
        });
    </script>

    <!-- <footer>
        <p class="text-center"><em>🖥️ Developed by Julian Zulfikar, 2022</em></p>
    </footer> -->
</body>
</html>